---
title: TECH
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>TECH</h2>
</div>

<main class="tags-content">
    <ul class="tags-list" style="text-align: left;">
        <li style="text-align: left;">
            <span class="tag-name" style="text-align: left;">「TECH Posts」</span>
            {% for post in site.posts %}
                {% if post.path contains '_posts/tech/' %}
                    <a class="tag-post" style="text-align: left; display: block;" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</main>

{% include footer.html %} 